.container{
    position: relative;
    z-index: 2;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container h1{
    margin: 0;
    margin-bottom: 6px;
    text-decoration: underline;
    font-size: 1.6em;
}
.buttons{
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
}

.buttons button{
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 8px;
    src: url("/src/assets/fonts/Greenscr.ttf") format("truetype");
    letter-spacing: 1px;
    padding-right: 60px;
    height: 40px;
    border: none;
    border-radius: 0;
    position: relative;
    font-size: 0.8em;
    border: 2px solid #00FF00;
    background: #000000;
    color: #00FF00  ;
    transition: all 0.3s ease;
    cursor: pointer;
    

}
.buttons button:hover{
    background: #00FF00;
    color: #000000  ;
}
.buttons button::after{
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 40px;  /* Adjust to control the cut size */
    height: 40%; /* Covers most of the height */
    right: -2px;
    bottom: -2px;
    z-index: 1;
    border-radius: 4px 0 0 0;
    border-top: 2px solid #00FF00;
    border-left: 2px solid #00FF00;


}
.technologies{
    padding-left: 20px;
    margin-bottom: 12px;
}
.technologies h3{
    margin: 0;
}
.content h2{
    text-decoration: underline;
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 2px;
}

.imgcontainer {
    z-index: 0;
    border: 2px solid #00FF00;
    display: flex;
    position: absolute;
    top: 12px;
    right: 0;
    width: 460px;
    aspect-ratio: 16/9;
    height: auto;
    justify-content: center;
    align-items: center;

}
/* Mask the middle (horizontal bar) */
.imgcontainer::after {
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 105%;  /* Adjust to control the cut size */
    height: 75%; /* Covers most of the height */
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}


/* Mask the middle (vertical bar) */
.imgcontainer::before {
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 90%;  /* Adjust to control the cut size */
    height: 105%; /* Covers most of the height */
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.spyImage {
    position: relative;
    z-index: 2;
    width: 95%;
    height: 95%;
}



.intelReport h2 {
    text-decoration: underline;
    font-size: 1.4em;
    margin-bottom: 0px;
}

.desc {
    margin: 0;
    font-size: 1.2em;
}
.highlight{
    margin: 0;
    margin-bottom: 8px;
    font-size: 1.2em;

}


@media (max-width: 768px) {
    .content h2{
        font-size: 1.2em;
    }
    .imgcontainer {
        position: relative;
        margin-bottom: 20px;
        width: 99%;
    }
    .intelReport h2 {
        font-size: 1.2em;
       
    }
    
.desc {
    font-size: 1em;
}
.highlight{
    font-size: 1em;

}
.container h1{

    font-size: 1.4em;
}
.buttons button{

    padding-right: 50px;

    font-size: 0.7em;

    

}
}