.terminal {
    background-color: #000000;
    color: #00FF00;
    text-align: left;
    line-height: 1.6;
    position: relative;
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: center;

}

.terminal-container {
    display: flex;
    gap: 80px;
    width: 90vw;
    height: 25vw;
    padding-top: 40px;
}
.terminal-image {
    width: 25vw;
    height: 25vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid #00FF00;
    z-index: 0;
}

/* Mask the middle (horizontal bar) */
.terminal-image::after {
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 105%;  /* Covers most of the width */
    height: 60%; /* Adjust to control the cut size */
    

    z-index: 1;
}

/* Mask the middle (vertical bar) */
.terminal-image::before {
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 60%;  /* Adjust to control the cut size */
    height: 105%; /* Covers most of the height */
  
    z-index: 1;
}


.terminal-image img {
    width: 95%;
    height: 95%;
    position: relative;

    z-index: 2;
}

.terminal-content {
    width: 60vw;
    height: auto;
    position: relative;
    z-index: 0;
    border: 2px solid #00FF00;
    display: flex;

}
/* Mask the middle (horizontal bar) */
.terminal-content::after {
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 105%;  /* Adjust to control the cut size */
    height: 75%; /* Covers most of the height */
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}


/* Mask the middle (vertical bar) */
.terminal-content::before {
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 90%;  /* Adjust to control the cut size */
    height: 105%; /* Covers most of the height */
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}



.terminal-body {
    padding: 8px 12px;
    white-space: pre-line;
    font-size: 1.3rem;
    position: relative;
    z-index: 2;
    width: 100%;
   

}
.buttons{
    position: absolute;
    bottom: 4px;
    left: 4px;
 
    display: flex;
    gap: 16px;
}
.clasified{
    text-decoration: underline;
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: 4px;
}
.buttons button{
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 8px;
    src: url("/assets/fonts/Greenscr.ttf") format("truetype");
    letter-spacing: 2px;
    padding-right: 60px;
    height: 40px;
    border: none;
    border-radius: 0;
    position: relative;
    font-size: 1em;
    border: 2px solid #00FF00;
    background: #000000;
    color: #00FF00  ;
    transition: all 0.3s ease;
    cursor: pointer;

}
.buttons button:hover{
    background: #00FF00;
    color: #000000  ;
}
.buttons button::after{
    content: ""; /* Required */
    background-color: #000000;
    position: absolute;
    width: 40px;  /* Adjust to control the cut size */
    height: 40%; /* Covers most of the height */
    right: -2px;
    bottom: -2px;
    z-index: 1;
    border-radius: 4px 0 0 0;
    border-top: 2px solid #00FF00;
    border-left: 2px solid #00FF00;


}


.globe-container {
    width: 250px; /* Adjust size as needed */
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
 
}

.globe-container img {
    width: 100%;
    height: auto;
}
.globephone{
    display: none;
}


@media (max-width: 768px) {
    .terminal {
        height: 70vh;
        width: 100vw;
        margin-bottom: 30px;
    }

    .terminal-container {
        width: 94vw;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding-top: 8px;
        height: 100%;
    }

    .terminal-image {
        width: 40vw;
        height: 40vw;
        margin-bottom: 0;
    }

    .terminal-content {
        
        margin: 0;
        width: 90vw;
        height: 100%;

    }

    .buttons button{
        font-size: 0.8em;
        padding-right: 44px;
    }
    .globe-container {
        display: none;
    }
    .clasified{
        font-size: 0.85em;
    }
    .terminal-body{
        font-size: 1.03em;

    }
    .globephone{
        display: flex;
    }
    
}

