@font-face {
  font-family: "SpyFont";  /* You can name it whatever you like */
  src: url("/src/assets/fonts/Greenscr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* Apply the font globally */


*{
  scrollbar-color:  #00FF00 #000000;
  scrollbar-width: thin;
  font-family: "SpyFont", sans-serif;


}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  overflow-x: hidden;
  font-family: "SpyFont", sans-serif;

}
a {
  text-decoration: none; /* Removes underline */
}

a button {
  all: unset; /* Resets button styles */
  display: flex;
  align-items: center;
  padding-left: 8px;
  letter-spacing: 1px;
  padding-right: 60px;
  height: 40px;
  border: 2px solid #00FF00;
  background: #000000;
  color: #00FF00;
  transition: all 0.3s ease;
  cursor: pointer;
}

a button:hover {
  background: #00FF00;
  color: #000000;
}
.footer{
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00FF00;
}

.copyr{
  border: 3px solid #00FF00;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 3px 3px 5px;
  font-size: 1em;
}

@media (max-width: 768px) {
  .footer{
    font-size: 0.7em;
  }
  .copyr{
    border: 2px solid #00FF00;
    padding: 0px 3px 2px 5px;

    
  }
}